.about__me_header  {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F9D9C9;
    color: #333333;
    padding: 2rem;
}

.about__me_header_alt { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.about__me_header_alt h1 {
    font-size: 30px;
}

.about__me_header_alt h2 { 
    font-size: 24px;
    color:#8B0000;
}

.about__me_container { 
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about__me_fotball h3{
font-size: 22px;
color: #8B0000;
}
.about__me_fotball img { 
    width: 550px;
    height: 100%;
    border-radius: 5px;
}
